@media (max-width:375px){
    .estamos-trabajando{
        display: none;
    }

    .error-titulo{
        display: flex;
        margin-left: -60px;     
    }

    .parrafo-404{
        display: none;
    }
    .link-inicio{
        display: flex;
        margin-left: 20px;   
        font-size: medium;
    }

}