@media (max-width:320px){

    .galeria{

        grid-template-columns: 50%;
        grid-template-rows: auto;
        grid-template-areas: 
        "div1"
        "div2"
        "div3"
        ;
        .div1 img{
            display: none;
        }
        .div2{
            grid-area: div2;
            display: grid;
            margin-left: 10px;
            margin-top: 10px;
            justify-content: center;
        }
        .div3{
            grid-area: div3;
            justify-content: center;
        }
        .footer-container{
            display: flex;
            font-size: small;
            justify-content: space-evenly;
        }
    }

    header .nav-menu label i{
        position: static;
    }
    
}

@media (max-width:320px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .nav-menu ul{
        display: block;
        // position: fixed;
        top:70px;
        left:-100%;
        background: rgb(255, 80, 80);
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .contacto-imagen{
        display:none;
    }

    .logo-header{
        display: flex;
        width: 100%;
    }

}

@media (max-width:320px){
       div .servicios1 .serv1 {
        display: flex;
        display: none;
    }

    div .servicios2 .serv2 {
        display: flex;
        display: none;
    }

    div .servicios3 .serv3 {
        display: flex;
        display: none;
    }

    div .servicios5 .serv5 {
        display: flex;
        display: none;
    }


}

@media (max-width:320px){

    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background: rgb(255, 80, 80);
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }

    .texto-inicio .imagen-inicio2{
        display:none;
    }

    .texto-inicio .imagen-inicio{
        display:none;
    }

    .logo-header{
        display: flex;
        width: 100%;
    }

    .texto-inicio .contenedor{
        font-size: 16px;
    }

    div section h2{
        display: flex;
        font-size: 16px;
        width: 100%;
    }
}

@media (max-width:320px){
    main picture img{
        display: none;
    }

    main div .fs-5 p{
        display:none;
    }

    .lista-clientes .list-group{
        font-size: 16px;   
    }

}

@media (max-width:320px){
    .estamos-trabajando{
        display: none;
    }

    .error-titulo{
        display: flex;
        margin-left: -60px;     
    }

    .parrafo-404{
        display: none;
    }
    .link-inicio{
        display: flex;
        margin-left: 90px;   
        font-size: medium;
    }

}




